text
skipx
install

#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
#url --url="http://mirror.yandex.ru/centos/7/os/x86_64/"
# Run the Setup Agent on first boot
#firstboot --enable
#ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw vagrant
user --name=vagrant --password=vagrant --shell=/bin/bash
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype ext4 --size 4096 --grow

reboot

%packages --nobase
openssh-clients
openssh-server
yum
crontabs
logrotate
which
curl
sudo
-prelink
-selinux-policy-targeted

%end

%post
sed -i 's/^Defaults    requiretty$/#Defaults    requiretty/' /etc/sudoers
echo '%vagrant ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/vagrant

yum update -y
yum install -y epel-release
yum install -y acpid cronie-anacron cronie rsync ntp mc htop wget

%end
